CELERY_BROKER_URL=redis://redis:6379/0
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=your_database_name_here
WEATHER_API_KEY=your_weather_api_key_here
